**._*
**.rej
cross-build
cross-build-mini
build
.DS_Store
morphos.cmake
WebKitty.xcodeproj
Source/JavaScriptCore/inspector/scripts/codegen/*pyc
Source/JavaScriptCore/wasm/generateWasm.pyc
Source/JavaScriptCore/yarr/hasher.pyc
Source/JavaScriptCore/disassembler/udis86/ud_opcode.pyc
Dummy/libdl.a
Dummy/libdummy.a
link.sh
webkitty.tar.xz
webkitty.lha
ffmpeg/instdir
linkpackage*
ffmpeg/opus*
ffmpeg/ffmpeg-4.*
ffmpeg/aom-build
ffmpeg/aom
ffmpeg/ffbuild
cmake-3.16.2
Dummy/dummy.o
ffmpeg/.buildstamp
**__pycache__*
WebKitty.xcodeproj/project.xcworkspace/xcuserdata

cross-build-*
